<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172721746926-fakr11ebavq8fdvphqbr1m59r9one53p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172721746926-fakr11ebavq8fdvphqbr1m59r9one53p</string>
	<key>API_KEY</key>
	<string>AIzaSyDkEK5U_SBUr6i-cXoVmOKtXyBil6Ye5Hw</string>
	<key>GCM_SENDER_ID</key>
	<string>172721746926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartTv</string>
	<key>PROJECT_ID</key>
	<string>smart-tv-98713</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-tv-98713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172721746926:ios:47343f69553ebd0b0a94ff</string>
</dict>
</plist>